<link rel="stylesheet" type="text/css" href="stylesheets/elements.css" />

<div class="element_box">
<div class="atomic_number">1</div>
<div class="element_name"><%= @element_name %></div>
<div class="twitter_handle"><%= @twitter_handle %></div>
<div class="followers_count"><%= @followers_count %></div>
</div>


<!-- <%= @statuses_count %> updates) -->
<!-- finish box: https://developer.mozilla.org/en/CSS/box_model -->