	div.element_box {
		background-color: #FFCCCC;
		padding-top: 0.5%;
     	padding-right: 0.5%;
     	padding-bottom: 2%;
     	padding-left: 0.5%;
     	width: 7%;
}

	div.atomic_number {
	text-align: center;
	line-height: 100%;
	font-size: .8em;
	font-family: "Arial", "sans-serif";
}

div.element_name {
	text-align: center;
	font-size: 2em;
	line-height: 140%;
	font-weight: bold;
	font-family: "Arial", "sans-serif";
}

div.twitter_handle {
	text-align: center;
	font-size: .8em;
	font-weight: bold;
	font-family: "Arial", "sans-serif";
}

div.followers_count {
	line-height: 110%;
	text-align: center;
	font-size: .8em;
	font-family: "Arial", "sans-serif";
}
